@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  margin-top: 90px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: #333;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  /* color: #d03c56; */
  text-decoration: none;
}
li, ul {
  list-style: none;
}


/* --------------------------------
 * parts
 * -------------------------------- */
.heading {
  padding: 10px 12px;
  background: url('../images/bg-slash.gif');
  letter-spacing: 1px;
  font-size: 1.6rem;
}


/* --------------------------------
* header
* -------------------------------- */
.header {
  width: 100%;
  background-color: #222831;
  position: fixed;
  top: 0;
  z-index: 10;
}
.navbar {
  width: 960px;
  height: 90px;
  margin: 0 auto;
  padding: 0 10px;
  color: #fff;
}
.navbar-logo {
  height: 60px;
  margin-right: 15px;
}
.search-box {
  margin: 0 auto 0 0;
  padding: 20px;
  font-size: 0;
}
.search-box > * {
  font-size: 1.3rem;
}
.search-box .search-input {
  width: 200px;
  height: 30px;
  padding: 0 10px;
  border: none;
}
.search-box .search-button {
  width: 50px;
  height: 30px;
  border: none;
  background-color: #d03c56;
  color: #fff;
  cursor: pointer;
}
.register, .login{
  display: inline-box;
  width: 120px;
  height: 50px;
  text-align: center;
  border-radius: 8px;
  margin: 0 10px;
  color: #fff;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, .7);
  transition: 0.2s all ease 0s;
}
.register i:after {
  content: "会員登録";
  display: inline;
  font-weight: bold;
  font-size: 1.4rem;
  vertical-align: middle;
  margin:0 3px;
}
.login i:after {
  content: "ログイン";
  display: inline;
  font-weight: bold;
  font-size: 1.4rem;
  vertical-align: middle;
  margin:0 3px;
}
.register i, .login i {
  margin: 8px 5px 0 0;
}
.register {
  background-color: #c9302c;
}
.login {
  background-color: #5bbfde;
}
.register:hover, .login:hover {
  box-shadow: none;
  transform: translate3d(1px, 1px, 0);
  opacity: 0.8;
}
.content {
  display: block;
  flex: 1;
}


/* --------------------------------
 * footer
 * -------------------------------- */
.footer {
  width: 100%;
  margin 0 auto;
  padding: 5px;
  background-color: #222831;
  text-align: center;
}
.copyright {
    color: #fff;
}
