@charset "UTF-8";
/* --------------------------------
* General purpose
* -------------------------------- */
.hidden {
  display: none;
}

/* --------------------------------
* follow button style
* -------------------------------- */
#follow-button {
  width: 150px;
  height: 50px;
  color: black;
  border: 2px solid #4285f4;
  border-radius: 7px;
}
#follow-button * {
  display: inline-block;
  margin-top: 3px;
}
#follow-button.active {
  border: none;
  background-color: #4285f4;
  color: #fff;
}
#follow-button.active * {
  margin-top: 4px;
}


/* --------------------------------
* user_info style
* -------------------------------- */
.user-wrapper {
  padding: 15px;
}
.user-content {
  background-color: #f7f7f7;
  border: solid 1px #e0e0e0
}
.text-muted p {
  display: inline-block;
  margin-right: 10px;
}

/* --------------------------------
* navigation style
* -------------------------------- */
.user-page-nav-link.nav-link {
    background-color: #fff;
    color: #444444;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.user-page-nav-link.nav-link:hover {
    background-color: #444444;
    color: #fff;
    cursor: pointer;
}
.nav-tabs .user-page-nav-link.nav-link.active {
    background-color: #444444!important;
    color: #fff!important;
}


/* --------------------------------
* follow button style
* -------------------------------- */
.preview-image-wrapper {
  display: flex;
  width: 960px;
}
#previewImage {
  display: inline-block;
  width: 100px;
  max-height: 130px;
  padding:10px;
}
.article-list-heading {
  padding-right: 30px;
}
.article-wrapper {
  margin-bottom: 30px;
  white-space: nowrap;
  overflow: hidden;
  height: 330px;
}
.article {
  height: 300px;
  overflow: hidden;
}
.book-image {
  height: 200px;
  margin-bottom: 20px;
}
.book-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
  width: 90%;
  text-overflow: ellipsis;
}
.author {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: #345edb;
  font-size: 50%;
  text-overflow: ellipsis;
}
.pagination {
  width: 100%;
  margin:20px 40%;
}
.heart-active {
  color: red;
}
.heart {
  color: #7a7a7a;
}


/* --------------------------------
* profile style
* -------------------------------- */
.introduction {
  min-height: 300px;
}
.recommend {
  min-height: 300px;
}


/* --------------------------------
* book-shelf style
* -------------------------------- */
.item-selection {
  width: 150px;
  margin: 0 0 0 auto;
}




/* --------------------------------
* post Article style
* -------------------------------- */


/* --------------------------------
* reviews style
* -------------------------------- */
.review {
  display: block;
  width: 100%;
}
